@keyframes color-change {
    0% {
        color: rgb(0, 255, 191);
      }
    
      50% {
        color: rgb(4, 0, 255);
      }
    
      100% {
        color: rgb(0, 255, 191);
      }
}
body {
    font-family: 'Times New Roman', Times, serif; /* Familia de fuentes */
    font-size: 20px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #0b073a; /* El color del fondo de la página web */
    color: #d3d3d3; /* El color del texto*/ 
}
h1:hover {
    animation: color-change 2s infinite;
}
h1 {
    color: #00a85a; /* El color de la cabecera */
    font-size: 70px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
h2 {
    color: #f03090;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
    color: #d3d3d3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}